body {
	background-color: #282a36;
	color: white;
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: #50fa7b;
	font-family: "ubuntuMono";
}

#siteHeader {
	font-size: 40px;
}

#dailies {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

#market {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #50fa7b;
	font-family: "ubuntuMono";
}

#submitLabel {
	color: #50fa7b;
	display: inline-block;
	font-family: "ubuntuMono";
	padding: 2mm;
	padding-left: 0mm;
}

#submitButton {
	color: #50fa7b;
	font-family: "ubuntuMono";
	text-decoration: none;
	background-color: #282a36;
	border: 3px;
	border-style: solid;
	border-radius: 3px;
	border-color: #50fa7b;
	padding: 1mm;
}

#submitButton:hover {
	color: #282a36;
	background-color: #50fa7b;
}

#deliveries {
	display: flex;
	flex-direction: column;
	color: #50fa7b;
	font-family: "ubuntuMono";
	justify-content: center;
	align-items: center;
	padding: 10mm;
	border: 3px;
	border-style: solid;
	border-radius: 10px;
	border-color: #50fa7b;
}

#currencies {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.currency {
	margin-right: 5mm;
}
.pve, .pvp, .wvw, .fractals {
	font-family: "ubuntuMono","monospace", "Arial", "Helvetica", "sans-serif";
	margin-bottom: 3mm;
	color: #50fa7b;
	font-size: 13px;
	position: relative;
}

.hoverElementHidden {
	display: none;
	position: relative;
}

.hoverElement {
	display: block;
	position: absolute;
	border: 3px;
	border-color: #50fa7b;
	border-style: solid;
	width: 15em;
	top: 1.3em;
	*top: 20px;
	left: 70px;
	z-index: 1000;
	background-color: #282a36;
	padding: 5px;
}

.daily {
	border: 3px;
	border-style: solid;
	border-color: #50fa7b;
	margin-bottom: 5mm;
	margin-right: 5mm;
	padding: 5mm;
	padding-top: 0mm;
}
.errorMsg {
	display: none;
}

.errorMsg[data-error="true"] {
	display: block;
	border: 3px;
	border-radius: 3px;
	border-style: solid;
	border-color: #ff5555;
	color: #ff5555;
	text-align: center;
	font-weight: bold;
	padding: 2mm;
}
@media (max-width: 600px) {
	#dailies {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media (min-width: 1921px) {
	.pve, .pvp, .wvw, .fractals {
		font-size: 30px;
	}
}
@font-face {
	font-family: "ubuntuMono";
	src: url(./fonts/UbuntuMono.ttf);
}

@font-face {
	font-family: "ubuntuMono";
	src: url(./fonts/ubuntumono_bold.ttf);
	font-weight: bold;
}
